{% extends "FrontBundle::base.html.twig" %}

{% block title %}
Confirmation
{% endblock %}

{% block nav %}
    {% for cat in categories %}
           <li><a href="{{ path('category',{'id': cat.id}) }}">{{ cat.name }}</a></li>
   {% endfor %}
{% endblock %}
                                                
{% block body %}
<main class="home">
    <div class="container">
        
        <h1>Confirmation d'inscription</h1>
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
    
                <p class="confirmation">{{ message }}</p>

            </div><!-- end .col-md-10 -->
        </div> <!-- end .row -->
    </div><!-- end .container -->
</main>
{% endblock %}

