{% extends "AdminBundle::base.html.twig" %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Nouvelle catégorie</h1>

            {{ form(form) }}
           
        </div><!-- end .col-md-12 -->
    </div><!-- end .row -->
    <div class="row margin-top">
        <div class="col-md-12">
            <ul class="record_actions no-list">
                <li>
                    <a href="{{ path('admin_category') }}" class="btn btn-primary">
                        Retour à la liste
                    </a>
                </li>
            </ul>
        </div><!-- end .col-md-12 -->
    </div><!-- end .row -->
</main>
{% endblock %}
