{% extends "AdminBundle::base.html.twig" %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Création d'une commande</h1>

            {{ form(form) }}

                <ul class="record_actions">
            <li>
                <a href="{{ path('admin_orders') }}">
                    Retour à la liste
                </a>
            </li>
        </ul>
        </div><!-- end .col-md-12 -->
    </div><!-- end .row -->
</main>
{% endblock %}
